@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

button:focus-visible, a:focus-visible {
  outline: 2px solid #ff3a2d;
  outline-offset: 2px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
